<html>
<head>
    <title>Datsegit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.6666" />
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
</head>
<body>
<header>
    <div id="headercontent">
        <div id="logo"><a href="../"><img src="{{STATIC_URL}}img/logoa.gif" /></a></div>
        <div id="tagline">Twitterreko euskarazko hitz-jokoen bilduma</div>
        <div id="visualclear"></div>
    </div>
</header>
<div id="maincontainer">
   {% block content %}{% endblock %}
<div id="visualclear"></div>
</div>
<footer>
    <div id="footercontent">
        <p><a href="http://www.codesyntax.com">CodeSyntax</a>ek egina. Software librea da Datsegit, Python programazio lengoaian eta Django azpiegituran garatua: <a href="github.com/codesyntax/datsegit">web modulua</a> / <a href="
github.com/codesyntax/twhst">txioen analisi moduloa</a>. <a href="http://www.euskara.euskadi.net">Eusko Jaurlaritzako Kultura Sailaren</a> laguntzarekin garatua. <a href="http://twitter.com">Content from Twitter</a>.</p><p><a href="http://www.euskara.euskadi.net"><img src="{{STATIC_URL}}img/jaurlaritza.gif" /></a></p>
        <div id="visualclear"></div>
    </div>
</footer>
</body>
</html>
