{% extends "base.html" %}
{% load datsegit %}
{% block right %}
<p id="hash_description">
{{ object.description |safe}}
</p>
{% endblock %}
{% block content %}
<h1>{{ object.name}}</h1>
{% include "twhst/alpha.html" %}
<h2>Adibidez...</h2>
{% for dictionary_item in dictionary %}
<a href="{% url "dictionary_item" slug=object.name word=dictionary_item.slug %}">{{dictionary_item.title}}</a> {% if not forloop.last %}-{% endif %}
{% endfor %}
{% if object.get_last_statuses %}
<h2>Azkenak</h2>
{% for status in object.get_last_statuses %}
<div class="status">
<img class="pull-left" src="{{status.user_profile_image_url}}" height="50" width="50" />
<div class="tweet_body">
<h4>{{status.user_name}} <a href="http://twitter.com/{{status.user_screen_name}}">@{{status.user_screen_name}}</a> 
<span class="statusdate">
 |
<a href="http://twitter.com/{{status.user_screen_name}}/status/{{status.twitter_id}}"><abbr title="{{status.created_at}}">{{status.created_at|date_format}}</abbr></a>
</span>
</h4>

<p>{{status.renderStatus|safe}}</p>

<span class="twitter_options">
  <a href="https://twitter.com/intent/tweet?in_reply_to={{status.twitter_id}}" class="twitter_option"><span class="icon-arrow-left"></span>Erantzun</a> | <a href="https://twitter.com/intent/retweet?tweet_id={{status.twitter_id}}" class="twitter_option"><span class="icon-retweet"></span>Bertxiotu</a> | <a href="https://twitter.com/intent/favorite?tweet_id={{status.twitter_id}}" class="twitter_option"><span class="icon-star"></span>Gogokoa</a>
</span>
</div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
